.body {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 10vh;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: white;

}

.form__title {
    text-align: center;
}

.form__field {
    margin-bottom: 20px;
}

.form__label {
    color: rgb(78, 70, 70);
}

.form__input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem 0.75rem; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.form__radio {
    color: rgb(78, 70, 70);
}

.form__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button-login {
    display: block;
    margin: 10px auto;
    padding: 0.6rem;
    background-color: rgb(56, 161, 161);
    color: #fff;
    border-radius: 0.5rem;
    border-color: rgb(56, 161, 161);
}

#errorMessage {
    color: red;
}